{{define "health"}}
<!DOCTYPE html>
<html>

<head>

    <title>Gift registry health status</title>
    <link rel="stylesheet" href="css/styles.css" />

</head>

<body>

    <div class="center-text content shadowed" id="page-header">
        <h1 class="centered">
            Gift Registry Health Status:
            <span id="overall-health" class="{{if .Healthy}}healthy{{else}}unhealthy{{end}}">
                {{if .Healthy}}Healthy{{else}}Unhealthy{{end}}
            </span>

        </h1>
    </div>

    <div class="centered content shadowed">
        <h2 class="center-text">Component Health</h2>
        <p>

            <label>Database status:</label> <span id="db-health-status"
                class="{{if .DBHealth.Healthy}}healthy{{else}}unhealthy{{end}}"><strong>{{if
                    .DBHealth.Healthy}}Healthy{{else}}Unhealthy{{end}}</strong></span>

        </p>
        <p>

            <label>Observability status:</label> <span id="observ-health-status"
                class="{{if .ObservHealth.Healthy}}healthy{{else}}unhealthy{{end}}"><strong>{{if
                    .ObservHealth.Healthy}}Healthy{{else}}Unhealthy{{end}}</strong></span>

        </p>

    </div>

</body>

</html>
{{end}}
