{{define "health"}}
<!DOCTYPE html>
<html>

<head>

    <title>Gift registry health status</title>
    <link rel="stylesheet" href="css/styles.css" />

</head>

<body>

    <div class="center-text content shadowed" id="page-header">
        <h1 class="centered">
            Gift Registry Health Status:
            <span id="overall-health" class="{{if .Healthy}}healthy{{else}}unhealthy{{end}}">{{if
                .Healthy}}Healthy{{else}}Unhealthy{{end}}</span>

        </h1>
    </div>

    <div class="centered content shadowed">
        <h2 class="center-text">Component Health</h2>
        <p>

            <label for="db-health-status">Database status:</label>
            <strong id="db-health-status" class="{{if .DBHealth.Healthy}}healthy{{else}}unhealthy{{end}}">{{if
                .DBHealth.Healthy}}Healthy{{else}}Unhealthy{{end}}</strong>

        </p>

    </div>

</body>

</html>
{{end}}
