{{define "index"}}
<!DOCTYPE html>
<html>

<head>

    <title>Family gift registry</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/htmx.js" type="text/javascript"></script>

</head>

<body>

    <div id="application-header" class="center-text content shadowed" id="page-header">
        <h1 class="centered">
            Gift Registry
        </h1>
    </div>

    <div id="page-content" class="centered content shadowed">
        <!-- TODO: CHANGE THIS TO LOGIN ONCE THAT'S IMPLMENTED -->
        <h2>Redirecting you to the signup page</h2>
        <div id="redirector">
            <meta http-equiv="refresh" content="3; URL=/me/signup">
        </div>
    </div>


</body>

</html>
{{end}}
