<!DOCTYPE html>
<html>

<head>

    <title>Gift registry</title>
    <link rel="stylesheet" href="css/styles.css" />
    <!-- TODO: CHANGE THIS TO THE SIGNUP PAGE WHEN I HAVE SOMETHING -->
    <meta id="redirect-tag" http-equiv="refresh" content="5; url=http://www.google.com">

</head>

<body>

    <div id="application-header" class="center-text content shadowed" id="page-header">
        <h1 class="centered">
            Family Gift Registry:
        </h1>
    </div>

    <div id="summary-content" class="centered content shadowed">
        <h2 class="center-text">Redirecting to signup page</h2>
        <p>Redirecting you to the signup page in a few seconds.</p>
    </div>

</body>

</html>
