{{define "profile-form"}}
<h3 id="profile-header-{{.ExternalID}}" class="center-text mb-3">{{.DisplayName}} {{.LastName}} Profile</h3>
<form id="profile-form-{{.ExternalID}}" hx-disabled-elt="#profile-submit-{{.ExternalID}}"
    hx-post="/profile/{{.ExternalID}}" hx-target="#profile-{{.ExternalID}}" class="flex-column">
    <div id="profile-error-{{.ExternalID}}" class="danger flex-row" {{if ne .Errors.ErrorMessage ""
        }}{{else}}hidden{{end}}>
        {{.Errors.ErrorMessage}}
    </div>
    <div class="form-input-group">
        <label for="first-name-{{.ExternalID}}">First name</label>
        <div class="flex-column">
            <input type="text" id="first-name-{{.ExternalID}}" name="firstName" value="{{.FirstName}}" />
            <small id="first-name-error-{{.ExternalID}}" class="danger" {{if eq .Errors.FirstName ""
                }}hidden{{end}}>{{.Errors.FirstName}}</small>
        </div>
    </div>
    <div class="form-input-group">
        <label for="last-name-{{.ExternalID}}">Last name</label>
        <div class="flex-column">
            <input type="text" id="last-name-{{.ExternalID}}" name="lastName" value="{{.LastName}}" />
            <small id="last-name-error-{{.ExternalID}}" class="danger" {{if eq .Errors.LastName ""
                }}hidden{{end}}>{{.Errors.LastName}}</small>
        </div>
    </div>
    <div class="form-input-group">
        <label for="display-name-{{.ExternalID}}">Display name</label>
        <div class="flex-column">
            <input type="text" id="display-name-{{.ExternalID}}" name="displayName" value="{{.DisplayName}}" />
            <small>This is the name others see on the app</small>
        </div>
    </div>
    {{ if ne .Type "MANAGED" }}
    <div id="email-group-{{.ExternalID}}" class="form-input-group">
        <label for="email-{{.ExternalID}}">Email address</label>
        <div class="flex-column">
            <input type="text" id="email-{{.ExternalID}}" name="email" value="{{.Email}}" disabled /> 
            <small>This is where the login verification code is sent</small>
        </div>
    </div>
    <div id="household-name-group-{{.ExternalID}}" class="form-input-group" {{ if eq .Type "MANAGED" }}hidden{{end}}>
        <label for="household-name-{{.ExternalID}}">Household name</label>
        <div class="flex-column">
            <input type="text" id="household-name-{{.ExternalID}}" name="householdName" value="{{.HouseholdName}}" />
            <small>This is what shows up when you claim a gift request</small>
            <small id="household-error-{{.ExternalID}}" class="danger" {{if eq .Errors.Household ""
                }}hidden{{end}}>{{.Errors.Household}}</small>
        </div>
    </div>
    {{ end }}
    <div class="w-100">
        <button id="profile-submit-{{.ExternalID}}" class="btn btn-contained primary w-100"
            type="submit">Update</button>
    </div>
</form>
{{end}}
