{{define "registry-page"}}
<!DOCTYPE html>
<html>

<head>

    <title>Family gift registry</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/htmx.js"></script>

    <script type="text/javascript">

        function openModal(id) {
            
            document.getElementById("add-item-modal").classList.remove("hidden");
            document.getElementById("add-item-modal").classList.add("open-modal");

        }

        function closeModal() {

            document.getElementById("add-item-modal").classList.remove("open-modal");
            document.getElementById("add-item-modal").classList.add("hidden");

        }

    </script>

</head>

<body>

    <div id="application-header" class="center-text content shadowed" id="page-header">
        <h1 class="centered">
            Gift Registry
        </h1>
        <a href="/logout">Logout</a>
    </div>

    <div id="registries">
        <div id="registry-error-message" class="centered content error overflow-y shadowed" {{if eq .ErrorMessage ""}}hidden{{end}}>{{.ErrorMessage}}</div>
        {{range .Wishlists}}
        <div id="registry-{{.PersonID}}" class="centered center-text content overflow-x overflow-y shadowed">
            {{template "registry-table" .}}
        </div>
        {{end}}
    </div>

    <button id="register-gift-btn" class="btn btn-contained create-new-btn primary shadowed">Request Gift</button>

    <div id="add-item-modal" class="hidden">
        <div class="flex-column">
            <div>
                <h3>Modal header goes here</h3>
            </div>
            <div>
                <h3>Modal body goes here</h3>
            </div>
        </div>
    </div>

</body>

</html>
{{end}}
