{{define "registry-page"}}
<!DOCTYPE html>
<html>

<head>

    <title>Family gift registry</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/htmx.js"></script>

</head>

<body>

    <div id="application-header" class="center-text content shadowed" id="page-header">
        <h1 class="centered">
            Gift Registry
        </h1>
    </div>

    <div id="registries">
        <div id="registry-error-message" class="centered content error flex-column overflow-y shadowed" {{if eq .ErrorMessage ""}}hidden{{end}}>{{.ErrorMessage}}</div>
        {{range .Registries}}
        <div id="registry-{{.PersonID}}" class="centered content flex-column overflow-y shadowed">
            {{template "registry-table" .}}
        </div>
        {{end}}
    </div>

    <!-- TODO: REGISTER GIFT BUTTON -- MOVE TO BOTTOM RIGHT OF DISPLAY VIEW -->
    <button id="register-gift-btn" class="btn-contained create-new-btn primary">Request Gift</button>

</body>

</html>
{{end}}
