{{define "registry-table"}}
<h3 id="registry-{{.PersonID}}-label" class="center-text mb-3">{{.DisplayName}}'s Registry</h3>
{{if .Items}}
<div class="scrollable-x">
    <div id="item-list-{{.PersonID}}" class="registry-items">
        <div class="center-text item-name-col">Item</div>
        <div class="center-text item-qty-col">Still Wants</div> <!-- TODO: RENAME THIS? --> 
        <div class="center-text item-url-col">Link</div>
        <div class="center-text item-notes-col">Extra Notes</div>
        <div class="center-text item-claimants-col">Claimed By</div>
        <div class="center-text item-gift-dates-col">Will Be Given On</div>
        <div class="center-text item-claim-btns-col"><!-- Adding an unlabeled column for the claim this button --></div>
    </div>
    <div>
    {{ range $key, $value := .Items}}
    <div id="item-{{$key}}" class="registry-items">
            <div id="item-{{$key}}-name" class="item-name-col">{{$value.Name}}</div>
            <div id="item-{{$key}}-quantity" class="item-qty-col">{{subtract $value.Quantity $value.TotalClaimed}} / {{$value.Quantity}}</div>
            <div class="item-url-col"><a id="item-{{$key}}-url" href="{{$value.URL}}" target="_blank">{{$value.URL}}</a></div>
            <div id="item-{{$key}}-notes" class="item-notes-col">{{$value.Notes}}</div>
            <!-- 
                TODO: NEED TO FIGURE OUT HOW TO DIFFERENTIATE BETWEEN "I'LL GET
                SOME OF THESE" AND "JOINT GIFT"
            -->
            <div id="item-{{$key}}-claimants" class="item-claimants-col">
                {{range $idx, $claim := $value.Claims}}
                <span id="item-{{$key}}-claimant-{{$idx}}">{{$claim.Claimant}}</span><br />
                {{end}}
            </div>
            <div id="item-{{$key}}-give-on" class="item-gift-dates-col">
                {{range $idx, $claim := $value.Claims}}
                <span id="item-{{$key}}-claim-{{$idx}}-gift-date">{{formatDate $claim.GiftDate}}</span>
                <br />
                {{end}}
            </div>
            <!-- 
                TODO: 
                This needs some thoughts around enabling/disabling, and some updates
                to the test helper to validate disabled status (which will also 
                impact the profile page)

                This text should also be dynamic, need to decided if that's here or 
                when I implement this as a button.
            -->
            
            <div id="item-{{$key}}-claim-button" class="item-claim-btns-col">
                {{if and (ne true isHistorical) (ne 0 (subtract $value.Quantity $value.TotalClaimed))}} 
                <button class="btn primary">We'll get this</button>
                {{end}}
            </div>
    </div>
    {{end}}
    <form id="new-item-{{.PersonID}}" hidden>
        <input id="new-item-{{.PersonID}}-name" name="itemName" type="text" class="item-name-col"></input>
        <input id="new-item-{{.PersonID}}-qty" name="itemQty" type="number" class="item-qty-col" min="1" max="1000000"></input>
        <input id="new-item-{{.PersonID}}-url" name="itemURL" type="text" class="item-url-col"></input>
        <input id="new-item-{{.PersonID}}-notes" name="itemNotes" type="text" class="item-notes-col"></input>
        <div class="item-claimants-col"></div>
        <div class="item-gift-dates-col"></div>
        <button class="btn">Never mind</button>
        <button class="btn secondary-contained">Please</button>
    </form>
    </div>
</div>
{{else}}
<div id="registry-{{.PersonID}}-nothing-wanted-msg" class="centered center-text"><em>{{.DisplayName}} is happy and content and wants for nothing.</em></div>
{{end}}
    {{if and .Editable (ne true isHistorical)}} 
    <button id="register-gift-btn-{{.PersonID}}" class="btn create-new-btn shadowed">Request Gift</button>
    {{end}}
{{end}}
