{{define "signup-form"}}
<div id="signup">
    <form id="signup-form" hx-post="/signup">
        <div id="signup-error" class="danger" {{if ne .Errors.ErrorMessage "" }}{{else}}hidden{{end}}>
            {{.Errors.ErrorMessage}}
        </div>
        <div class="form-input-group">
            <div class="left">
                <label for="signup-email">Email address</label>
            </div>
            <div class="right">
                <input type="email" id="signup-email" name="email" value='{{or .Email ""}}' />
                <small id="signup-email-error" class="danger" {{if eq .Errors.Email nil
                    }}hidden{{end}}>{{.Errors.Email}}</small>

            </div>
        </div>
        <div class="form-input-group">
            <div class="left">
                <label for="signup-first-name" class="left">First name</label>
            </div>
            <div class="right">
                <input type="text" id="signup-first-name" name="firstName" class="right" value='{{or .FirstName ""}}' />
                <small id="signup-first-name-error" class="danger" {{if eq .Errors.FirstName nil
                    }}hidden{{end}}>{{.Errors.FirstName}}</small>
            </div>
        </div>
        <div class="form-input-group">
            <div class="left">
                <label for="signup-last-name" class="left">Last name</label>
            </div>
            <div class="right">
                <input type="text" id="signup-last-name" name="lastName" class="right" value='{{or .LastName ""}}' />
                <small id="signup-last-name-error" class="danger" {{if eq .Errors.LastName nil
                    }}hidden{{end}}>{{.Errors.LastName}}</small>
            </div>
        </div>
        <div class="w-100">
            <button id="signup-submit" class="btn btn-contained primary right" type="submit">Sign up</button>
        </div>
    </form>
</div>
{{end}}
