# TODO: REPLACE WITH LIBSQL
# Database connection 
DB_HOST=gift-registry-postgres
DB_NAME=gift_registry
DB_PORT=5432
DB_USER=/run/secret/env_name_db_user
DB_PASS=/run/secret/env_name_db_password
POSTGRES_DATA=/run/secret/env_name_postgres_data

# App settings
ALLOWED_HOSTS=localhost
GR_PORT=8080

# Login email
EMAIL_FROM=/run/secret/env_name_email_from
EMAIL_HOST=/run/secret/env_name_email_host
EMAIL_PASS=/run/secret/env_name_email_password
EMAIL_PORT=/run/secret/env_name_email_port

# Observability
GRAFANA_DATA=/run/secret/env_name_grafana_data
GRAFANA_PASS=/run/secret/env_name_grafana_password
GRAFANA_USER=/run/secret/env_name_grafana_username
OTEL_EXPORTER_OTLP_ENDPOINT=/run/secret/env_name_otel_exporter
